i/*@import url('menu.css');*/
/**** Layout ****/
html,body {
background:#f1f1f1;
color:#333;
font-family:helvetica, arial, verdana, sans-serif;
font-size:10pt;
margin:0;
padding:0;
}

#wrapper {
-moz-border-radius:20px;
-webkit-border-radius:20px;
background:#fff;
border:solid 2px #dadada;
border-radius:20px;
margin:20px;
min-width:670px;
padding:0 20px;
}

#columns {
margin-top:20px;
overflow:hidden;
padding-bottom:20px;
width:100%;
}

#columnLeft {
float:left;
width:200px;
}

#contentLeft {
width:300px;
}

#columnRight {
float:left;
min-width:800px;
width:auto;
}

#header {
-moz-border-radius-bottomleft:20px;
-moz-border-radius-bottomright:20px;
-webkit-border-bottom-left-radius:20px;
-webkit-border-bottom-right-radius:20px;
background:#fff;
border:solid #dadada;
border-bottom-left-radius:20px;
border-bottom-right-radius:20px;
border-width:0 2px 2px;
height:67px;
margin:0 5px;
min-width:800px;
overflow:hidden;
padding:5px 10px;
}

#header h1 {
color:#848484;
display:inline;
margin:0;
padding:0;
vertical-align:baseline;
}

#header h2 {
color:#848484;
display:inline;
letter-spacing:-0.1em;
margin:0;
}

h5 {
color:#848484;
margin:0;
text-align:left;
}

.logName {
color:#ff8f00;
font-weight:700;
}

#footer {
-moz-border-radius:20px;
-webkit-border-radius:20px;
background:#fff;
border:solid 2px #dadada;
border-radius:20px;
clear:both;
height:80px;
margin:0 10px 20px;
min-width:800px;
}

#footer img {
float:right;
margin:.25em 20px;
}

#navigation {
-moz-border-radius-bottomleft:20px;
-moz-border-radius-bottomright:20px;
-webkit-border-bottom-left-radius:20px;
-webkit-border-bottom-right-radius:20px;
background:#f7f7f7;
border:solid #dadada;
border-bottom-left-radius:20px;
border-bottom-right-radius:20px;
border-width:0 1px 1px;
height:33px;
margin-bottom:20px;
padding:0 5px;
}

.navButton,.buttonText,.buttonTextOff {
display:inline-block;
font-size:1em;
font-weight:700;
outline:none;
padding:.5em 10px .25em;
text-decoration:none;
}

.buttonText,.buttonTextOff {
font-size:1.2em;
}

.buttonTextOff {
color:#dadada;
}

.buttonSort,.buttonSortSelected,.expander,.expandAll,.collapseAll {
display:inline;
font-size:1em;
font-weight:700;
margin:0;
outline:none;
padding:0;
text-align:center;
text-decoration:none;
vertical-align:-10%;
}

.navButton:hover,.buttonText:hover,.buttonWhite:hover,.buttonSort:hover,.buttonSortSelected,.expander:hover,.expandAll:hover,.collapseAll:hover {
color:#ff8f00;
text-shadow:0 0 5px #ff8f00;
}

.navButton:active,.buttonText:active,.buttonWhite:active,.buttonSort:active,.buttonSortSelected:active {
color:#ff7800;
text-shadow:0 0 5px #ff7800;
}

.highlightedText {
color:#ff8f00;
}

.linkButton {
-moz-border-radius:5px;
-webkit-border-radius:5px;
background:#f1f1f1;
border:solid 1px #dadada;
border-radius:5px;
color:#848484;
display:inline-block;
font-size:1em;
font-weight:700;
outline:none;
padding:5px 10px;
text-align:center;
text-decoration:none;
}

input.linkButton {
font-family:helvetica, arial, verdana, sans-serif;
margin:0.12em;
padding:0.32em 0.6em;
}

.smallLinkButton {
-moz-border-radius:2px;
-webkit-border-radius:2px;
background:#f1f1f1;
border:solid 1px #dadada;
border-radius:2px;
color:#848484;
cursor:pointer;
display:inline-block;
font-size:.9em;
font-weight:700;
outline:none;
padding:2px 4px;
text-align:center;
text-decoration:none;
}

.submitLinkButton {
-moz-border-radius:5px;
-webkit-border-radius:5px;
background:#f1f1f1;
border:solid 1px #dadada;
border-radius:5px;
color:#848484;
display:inline-block;
font-size:1em;
font-weight:700;
outline:none;
padding:5px 10px;
position:relative;
text-align:center;
text-decoration:none;
z-index:3;
}

.editButton:hover {
background:#8dffb2;
}

.linkText {
color:#848484;
font-weight:700;
outline:none;
}

.linkText:hover {
color:#ff8f00;
text-shadow:0 0 1px #ff8f00;
}

.formSmall {
-moz-border-radius:10px;
border:solid 1px #dadada;
border-radius:10px;
display:inline-block;
margin:auto;
padding:5px;
}

.buttonWhite {
-moz-border-radius:5px;
-webkit-border-radius:5px;
background-color:#fff;
border:solid 1px #dadada;
border-radius:5px;
color:#848484;
display:inline-block;
font-size:1em;
font-weight:700;
outline:none;
padding:.25em .5em;
text-align:center;
text-decoration:none;
}

.buttonSmall {
color:#848484;
font-size:.9em;
width:100%;
}

.alertButton {
color:red;
font-size:1em;
padding:2px 8px;
}

.alertButton:hover {
background-color:#e8e8e8;
}

.alertButton:active {
padding:3px 6px 1px 10px;
}

.buttonSmall,.alertButton {
-moz-border-radius:10px;
-webkit-border-radius:10px;
background-color:#f1f1f1;
border:solid 1px #dadada;
border-radius:10px;
display:block;
font-weight:700;
outline:none;
text-align:center;
text-decoration:none;
}

.buttonSort {
border:none;
outline:none;
}

.buttonSort img {
border:none;
outline:none;
vertical-align:text-bottom;
}

.label80 {
color:#848484;
display:inline-block;
font-weight:700;
width:80px;
}

form .importForm {
display:inline-block;
position:relative;
}

#divAssocStaff {
height:147px;
overflow:auto;
width:350px;
}

#login {
-moz-border-radius:20px;
-webkit-border-radius:20px;
background-color:#e5f7ff;
border:solid 1px #dadada;
border-radius:20px;
overflow:hidden;
padding:20px;
}

table.requirements {
border-color:#ffe45c;
border-spacing:1px;
border-width:1px;
text-align:left;
}

table.requirements tr td {
background-color:#FFF;
border-color:#ffe45c;
border-width:1px;
padding-left:5px;
padding-right:0;
white-space:nowrap;
}

span.orange {
color:#EE6000;
}

span.fail {
color:#A00;
font-weight:700;
}

span.green {
color:#0A0;
}

.configure {
-moz-border-radius:10px;
-webkit-border-radius:10px;
background:#f7f7f7;
border:solid 1px #dadada;
border-radius:10px;
color:#848484;
font-weight:700;
padding:10px;
}

.configure h3 {
margin:5px;
}

.configure legend {
-moz-border-radius:5px 5px 0 0;
-webkit-border-radius:5px 5px 0 0;
background:#e5f7ff;
border:solid #dadada;
border-radius:5px 5px 0 0;
border-width:1px 1px 0;
color:#848484;
font-weight:700;
padding:2px;
}

.configure fieldset {
-moz-border-radius:10px;
-webkit-border-radius:10px;
background:#e5f7ff;
border:solid 1px #dadada;
border-radius:10px;
margin:5px;
}

.configure label {
display:inline-block;
width:120px;
}

.configure select {
margin-left:120px;
}

.configure li {
list-style:none;
margin:0;
padding:2px 0;
}

#columnLeft ul li {
color:gray;
font-size:14px;
font-weight:400;
list-style-image:url('../images/inst_step.gif');
}

#columnLeft ul li.current {
color:#000;
list-style-image:url('../images/inst_current.gif');
}

#columnLeft ul li.completed {
color:#000;
list-style-image:url('../images/inst_completed.gif');
}

#columnRight div.info {
background-color:#FFF;
border:1px gray inset;
font-color:#000;
font-weight:400;
height:350px;
overflow:scroll;
text-align:left;
width:100%;
}

input[type="button"],button[type="submit"],form input[type="submit"] {
border:1px solid #dadada;
font-weight:700;
outline:none;
text-decoration:none;
}

.ruleGray {
background-color:#bcbcbc;
border:0;
color:#bcbcbc;
height:1px;
}

.inputGray,.inputGraySmall {
background-color:#efefef;
border:1px solid #dadada;
outline:none;
}

#sf_guard_signin .inputGray {
background-color:#efefef;
border:1px solid #dadada;
outline:none;
width:130px;
}

.searchForm {
border:none;
display:inline;
margin:auto;
vertical-align:middle;
width:50%;
}

.searchFilter {
border:none;
display:inline;
margin:auto;
vertical-align:middle;
width:100%;
}

.search:hover,.search:focus,.inputGray:hover,.inputGray:focus,.inputGraySmall:hover,.inputGraySmall:focus {
background-color:#cdffdd;
outline:none;
}

input[type="button"]:-moz-focus-inner,form input[type="submit"]:-moz-focus-inner {
border:none;
padding:.25em;
}

#login ul {
list-style-type:none;
margin:0;
padding:0;
}

select {
background-color:#efefef;
border:1px solid #dadada;
max-height:6em;
outline:none;
}

.staffTable {
min-width:720px;
}

.singleTable {
border:solid #bcbcbc 1px;
}

.staffTable tr,.singleTable tr {
border-bottom:solid #bcbcbc 1px;
}

.staffTable tr:hover,.singleTable tr:hover {
background:#e5f7ff;
}

.staffTable td,.staffTable th {
margin:0;
padding:.25em;
text-align:center;
}

.staffTable .head,.singleTable .head,.singleTable .headLeft,.singleTable .headMid {
background:#dadada;
color:#848484;
text-align:center;
}

.singleTable .headLeft {
border-right:solid 1px #bcbcbc;
}

.singleTable .headMid {
border:solid #bcbcbc;
border-width:0 1px;
}

.staffTable .buttonText {
font-size:1em;
}

.singleTable td {
border-bottom:solid 1px #bcbcbc;
padding:.25em 1em;
text-align:center;
}

.singleTable th {
padding:.25em 1em;
}

.staffTable caption,.singleTable caption {
color:#848484;
font-size:1.5em;
font-weight:700;
text-align:left;
}

.staffTable .subHead {
background:#dadada;
color:#848484;
font-size:.9em;
font-weight:400;
padding:.25em 1em;
text-align:center;
}

.staffTable .subHeadsort {
background:#444;
color:#848484;
font-size:.9em;
font-weight:400;
padding:.25em 1em;
text-align:center;
}

.singleTable .subHead {
background:#f1f1f1;
border-bottom:solid 1px #bcbcbc;
color:#848484;
font-size:.9em;
padding:.25em 1em;
}

.singleTable .subHeadLeft,.subHeadMid {
background:#f1f1f1;
border:solid #bcbcbc;
color:#848484;
font-size:.9em;
padding:.25em 1em;
}

.singleTable .subHeadLeft {
border-width:0 1px 1px 0;
}

.singleTable .subHeadMid {
border-width:0 1px 1px;
}

.fooTable ul {
display:inline;
margin:0;
padding:0;
}

.fooTable li {
display:block;
float:left;
margin-right:4px;
text-align:left;
width:200px;
}

.address ul li {
display:inline-block;
list-style-type:none;
}

.infoHolder {
-moz-border-radius:10px;
-webkit-border-radius:10px;
border:solid 1px #dadada;
border-radius:10px;
margin-top:10px;
padding:10px;
}

.adminConfig {
display:inline-block;
margin:10px 0;
}

.adminConfigLegend {
float:left;
margin:40px;
width:400px;
}

.shiftpreview {
display:inline;
width:600px;
}

.estimate li {
background:#dadada;
border-color:#0A0;
border-style:dashed;
border-width:1px;
display:inline;
font-weight:400;
padding:1px;
text-align:center;
}

.bucketHolder {
-moz-border-radius:10px;
-webkit-border-radius:10px;
border:solid 1px #dadada;
border-radius:10px;
display:inline-block;
margin-top:10px;
min-height:520px;
padding:10px;
}

.bucket {
-moz-border-radius:10px;
-webkit-border-radius:10px;
background:#f1f1f1;
border:1px solid #dadada;
border-radius:10px;
font-size:1em;
height:auto;
list-style-type:none;
margin:5px;
min-height:520px;
padding:1em;
width:400px;
}

.bucket li {
-moz-border-radius:3px;
-webkit-border-radius:3px;
background:#e5f7ff;
border:1px solid #dadada;
border-radius:3px;
color:#848484;
font-weight:700;
margin:2px;
padding:2px;
}

.groupLabel {
color:#ff8f00;
font-weight:700;
margin-left:15px;
}

.filterBox {
-moz-border-radius:5px;
border:solid 1px #dadada;
margin-right:1em;
padding:.5em;
}

.overlay {
bottom:30%;
color:#ff8f00;
display:none;
font-size:4em;
left:0;
position:absolute;
right:0;
text-align:center;
text-shadow:0 0 5px #ff8f00;
z-index:1;
}

.loginPromptForm ul {
list-style-type:none;
margin:0;
vertical-align:top;
}

.loginPromptForm ul li {
margin-top:0;
}

.loginPromptForm ul li.spacer {
margin-top:1px;
}

.textBottom {
vertical-align:text-bottom;
}

table.adminConfigRequirements {
margin-left:auto;
margin-right:auto;
width:200px;
}

.adminConfigForm {
float:left;
margin-right:40px;
}

.MarginPointOneEm {
margin:0.1em;
}

.fullWidth {
width:100%;
}

.displayInlineBlock {
display:inline-block;
}

.clearBoth {
clear:both;
}

.displayBlock {
display:block;
}

.clientIndexSubmit {
display:inline-block;
position:relative;
z-index:3;
}

.noPadding {
padding:0;
}

#importForm div {
left:0;
position:relative;
top:0;
width:250px;
z-index:1;
}

.padding3Px {
padding:3px;
}

.alignMiddle {
margin-left:auto;
margin-right:auto;
}

.orgAvaliableStaff {
border-right:#FFF 20px solid;
display:inline-block;
float:left;
text-align:right;
width:45%;
}

.orgAssignedStaff {
display:inline-block;
float:left;
text-align:left;
width:45%;
}

.orgBlank {
clear:both;
display:block;
text-align:center;
}

.width200 {
width:200px;
}

.widthAndHeight300 {
height:300px;
width:300px;
}

.widthAndHeight150 {
height:150px;
width:150px;
}

.setWidgetsScenario {
width:350px;
}

.setWidgetsDesc {
height:125px;
width:350px;
}

.width140 {
width:140px;
}

.relPosition {
position:relative;
}

.agStaffImport {
left:0;
position:absolute;
top:0;
width:250px;
z-index:1;
}

.decoratorFormat {
display:inline-block;
margin-right:4px;
}

.decoratorFormatContent {
-moz-border-radius:5px;
border:solid 1px #dadada;
display:inline-block;
padding:10px 0 0 10px;
}

.decoratorFormatContent2 {
border-bottom:solid 1px #dadada;
margin-bottom:4px;
}

.decoratorFormatContent3 {
margin:4px 0;
padding:0;
}

.facgroup {
margin-left:15px;
}

.rowFormat {
display:inline-block;
margin-right:4px;
text-align:center;
}

.rowFormat3 {
border-bottom:1px solid #dadada;
color:#848484;
display:block;
font-weight:700;
margin-right:10px;
padding-bottom:2px;
}

.rowFormat4 {
display:inline-block;
float:left;
margin-right:4px;
}

.rowFormat5 {
display:block;
margin-right:4px;
text-align:left;
}

.rowFormatLabel {
color:#848484;
font-size:1.25em;
font-weight:700;
}

.rowFormatLabel2 {
color:#848484;
display:inline-block;
font-weight:700;
margin:4px;
}

.headerWrap {
-moz-border-radius:10px;
border:solid 1px #dadada;
border-radius:10px;
padding:4px;
text-align:center;
}

.margin4Px {
margin:4px;
}

.searchTextBox {
border:1px solid #ccc;
display:inline;
height:18px;
margin-top:4px;
vertical-align:top;
width:160px;
}

.searchButton {
background:url('../images/Search_Button.png') no-repeat;
border:none;
cursor:pointer;
display:inline;
height:23px;
margin-top:3px;
width:28px;
}

.saveLinkButton {
-moz-border-radius:5px !important;
-webkit-border-radius:5px !important;
background:#F1F1F1 !important;
border:solid 1px #DADADA !important;
color:#848484 !important;
display:inline-block !important;
font-size:1em !important;
font-weight:700 !important;
outline:none !important;
padding:5px 10px !important;
text-align:center !important;
text-decoration:none !important;
}

.logo {
border:0;
margin-bottom:5px;
}

P {
line-height:18px;
margin:12px auto;
}

.noBorderBottom {
border-bottom:0 !important;
}

.borderBottom {
border-bottom:solid 1px #848484;
}

.italic {
font-style:italic;
}

tfoot.tFootInfo tr {
border-bottom:none;
font-size:.75em;
margin:0;
}

tfoot.tFootInfo tr:hover {
background-color:transparent;
}

a.signin {
margin-left:3px;
margin-top:8px;
outline:none;
position:relative;
}

a.signin span {
background-image:url("../images/toggle_down_light.png");
background-position:100% 50%;
background-repeat:no-repeat;
padding:6px 16px 6px 0;
}

a.signin.menu-open span {
background-image:url("../images/toggle_up_dark.png");
color:#789;
}

#signin_menu {
-moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px;
-moz-border-radius-topleft:0;
-webkit-border-bottom-left-radius:5px;
-webkit-border-bottom-right-radius:5px;
-webkit-border-top-left-radius:0;
background-color:#f7f7f7;
border-bottom:1px solid #dadada;
border-left:1px solid #dadada;
border-right:1px solid #dadada;
border-top:0;
color:#789;
display:none;
font-size:11px;
margin-right:0;
margin-top:5px;
padding:6px 4px 4px;
position:absolute;
right:58px;
text-align:left;
top:129px;
z-index:100;
}

#signin_menu input[type=text],#signin_menu input[type=password] {
-moz-border-radius:4px 0 0 4px;
-webkit-border-radius:4px 0 0 4px;
border:1px solid #ccc;
display:inline;
height:18px;
margin-top:4px;
vertical-align:top;
width:160px;
}

.expandableTable {
border-collapse:collapse;
margin:0;
width:100%;
}

.expandableTable th {
background:#A1E2FF;
}

.expandableTable td {
background:#e5f7ff;
height:4em;
}

.compact {
margin:0 !important;
padding:0 !important;
}

.set100 {
width:100px;
}

.set110 {
width:110px;
}

.checkBoxTable {
-moz-box-shadow:0 0 5px #a1e2ff;
-webkit-box-shadow:0 0 5px #a1e2ff;
background:#fff;
border:solid 1px #dadada;
border-collapse:collapse;
box-shadow:0 0 5px #a1e2ff;
padding:0;
}

.checkBoxTable th {
background:#a1e2ff;
text-align:left;
}

.checkBoxTable th label {
color:#fff;
font-weight:700;
}

.checkBoxTable td {
text-align:left;
}

tr.sort {
background:#fff;
cursor:move;
height:3em;
}

tr.sort td {
height:3em;
}

tr.sort:hover {
-moz-box-shadow:0 0 5px #a1e2ff;
-webkit-box-shadow:0 0 5px #a1e2ff;
background:#F6FCFF;
box-shadow:0 0 5px #a1e2ff;
}

.sortTableContainer {
background:#f7f7f7;
border:solid #dadada;
border-width:1px 0;
display:inline-block;
height:400px;
overflow:scroll;
overflow-x:hidden;
}

.sortTableParent td.container {
height:0;
margin:0;
padding:0;
}

.sortTable th {
background:#A1E2ff;
color:#fff;
}

.sortTable tr.countZero td {
background:#fff;
border-left:solid 1px #dadada;
border-right:solid 1px #dadada;
color:#ff8f00;
font-weight:700;
text-align:center;
}

.sortTable th,.sortTable td,.sortTableParent th,.sortTableParent td {
padding:4px;
}

.sortTable td,.sortTable th {
border-bottom:solid 1px #dadada;
border-top:solid 1px #dadada;
}

.sortTable td.left,.sortTable th.left {
border-left:solid 1px #dadada;
width:120px;
}

.sortTable td.right,.sortTable th.right {
border-right:solid 1px #dadada;
width:120px;
}

.sortTable td.inner,.sortTable th.inner {
border-left:none;
border-right:none;
width:120px;
}

.sortTable td.narrow,.sortTable th.narrow {
text-align:center;
width:50px !important;
}

.sortTableParent tr th,.sortTable tr th,sortTable tr td {
background:#dadada;
color:#fff;
text-align:left;
}

tr.sortHead th {
background:#A1E2FF;
width:145px;
}

.sortTable caption {
height:1.5em;
}

.sortTableParent tr.sortHead th a,.sortTable caption a {
color:#fff;
float:left;
outline:none;
text-decoration:none;
}

.sortTable caption a {
color:#ff8f00;
float:left;
}

.sortTableParent tr.sortHead th a:hover {
color:#98ffb9;
text-shadow:0 0 2px #98ffb9;
}

.sortTable caption,.sortTableParent caption {
background:#e5f7ff;
border:solid #dadada;
border-width:0 1px;
color:#848484;
font-size:1.2em;
font-weight:700;
padding:4px;
}

table.available caption {
width:258px;
}

#revealable {
display:none;
position:absolute;
}

.selectionFilter {
color:#848484;
font-weight:700;
margin:10px 0;
padding:0;
}

.selectionFilter a {
color:#ff8f00;
display:inline-block;
float:left;
height:20px;
outline:none;
text-decoration:none;
width:20px;
}

.tooltipTrigger {
border-style:dotted;
border-width:thin;
color:#394b67;
font-size:.65em;
font-weight:700;
text-decoration:none;
}

#tooltipContent {
background-color:#fdffd1;
border-style:solid;
border-width:1px;
font-size:.75em;
}

#stepper {
-moz-border-radius:10px;
background-color:#f7f7f7;
background-repeat:no-repeat;
border:solid 1px #dadada;
border-radius:10px;
padding-bottom:10px;
}

#stepper ul {
list-style-type:none;
margin-top:0;
}

#stepper ul.stepperList {
border-bottom:1px solid #dadada;
}

#stepper ul li {
color:#ff8f00;
float:left;
font-size:1em;
font-weight:700;
padding-left:10px;
padding-right:10px;
padding-top:2px;
}

#stepper ul li.current {
-moz-border-radius:0 0 6px 6px;
-webkit-border-radius:0 0 6px 6px;
background-color:#fff;
border-bottom:1px solid #dadada;
border-left:1px solid #dadada;
border-right:1px solid #dadada;
border-top:1px solid #fff;
color:#21bbff;
}

#stepper ul li.completed {
color:green;
}

#stepper ul li.completed a {
color:#848484;
outline:none;
text-decoration:none;
}

#stepper ul li.altLItext {
color:#848484;
float:right;
font-size:12px;
padding-top:5px;
}

#stepper div {
-moz-border-radius:10px 10px 0 0;
background-color:#fff;
border-color:#00b4cc;
border-radius:10px 10px 0 0;
color:#848484;
font-size:14px;
font-weight:700;
padding:5px 20px;
text-align:right;
}

#stepper div.stepHead {
background-repeat:no-repeat;
color:#21bbff;
float:left;
font-size:14px;
font-weight:700;
height:10px;
margin-left:1px;
}

.empty {
border-color:#eca742;
border-style:solid;
border-width:1px;
}

.checkbox_list {
list-style-type:none;
padding-left:0;
padding-right:15px;
}

table.blueTable {
border:1px solid #dadada;
border-collapse:collapse;
width:650px;
}

table.blueTable tr.head {
background-color:#e5f7ff;
color:#848484;
height:35px;
text-align:center;
}

table.blueTable tr.head:hover {
background-color:#e5f7ff;
}

table.blueTable tr.head th.row1 {
width:260px;
}

table.blueTable tr td {
border:1px solid #dadada;
padding:5px;
}

table.blueTable tr td a {
color:#848484;
font-size:1em;
font-weight:700;
text-decoration:none;
}

table.blueTable tr td a:hover {
color:#ff8f00;
font-size:1em;
font-weight:700;
text-decoration:none;
}

table.blueTable tr:hover {
background-color:#f7f7f7;
}

.inlineLists {
-moz-border-radius:5px;
border:1px solid #dadada;
display:inline-block;
margin:5px;
padding:8px;
vertical-align:top;
}

.inlineListWrapper {
display:inline-block;
padding:10px;
}

.filter {
margin:5px 12px 5px 5px;
}

table.staffPool tr.head:hover,table.staffTable tr.head:hover,table.singleTable tr.head:hover {
background-color:#dadada;
}

.infoText {
font-size:0.75em;
}

.redHighLight {
-moz-box-shadow:0 0 2px red;
-webkit-box-shadow:0 0 2px red;
background:#FFC6C6;
border-color:red;
box-shadow:0 0 2px red;
}

h3,h2,h4 {
color:#848484;
margin:0;
}

.logLabel,.logName,.formSmall label,.filterButton,.labelSmall {
color:#848484;
font-weight:700;
}

.navButton,.buttonText,.buttonSort,.expander,.expandAll,.collapseAll,.adminConfig P,.labelGray,.greyText {
color:#848484;
}

.expander,.leftFloat,#shifts,#available,#allocated,.floatLeft,.shifttemplateleft {
float:left;
}

.rightFloat,.floatRight,.shifttemplateright {
float:right;
}

.linkButton:hover,.buttonSmall:hover,.smallLinkButton:hover,.bucket li:hover {
background:#cdffdd;
}

.linkButton:active,.buttonSmall:active,input[type="button"]:active,button[type="submit"]:active,form input[type="submit"]:active {
background:#98ffb9;
}

.editButton,.search,th .tableRow,.fooTable fieldset {
border:none;
}

.tooltips,#result,.noDisplay,#modalAppend,.expandable {
display:none;
}

table.requirements tr td.header,table.adminConfigRequirements tr td,.boldText,.bold {
font-weight:700;
}

table.requirements th,.staffTable .headsort .buttonText {
color:#000;
}

.configure input[type="text"],.configure input[type="password"],.configure input[type="textbox"],.configure input[type="listbox"],.inputGray {
width:130px;
}

.configure ul,#login li,th .tableHeaderContent,.address ul {
margin:0;
padding:0;
}

.inputGraySmall,.width30 {
width:30px;
}

#fileUpload,.clientIndexInputUpload {
-moz-opacity:0;
filter:alpha(opacity=0);
opacity:0;
position:relative;
text-align:right;
width:190px;
z-index:2;
}

.staffTable,.singleTable,.sortTable,.sortTableParent {
border-collapse:collapse;
}

.staffNameTable,.centerText {
text-align:center;
}

.loginPromptForm,.sfGuardAuthLogOut {
float:right;
margin-top:0;
top:0;
vertical-align:top;
width:260px;
}

.textRight,tfoot.tFootInfo td,.sortTableParent th.count {
text-align:right;
}

.warningColor,.colorRed {
color:red;
}

.displayInline,.rowFormat2 {
display:inline;
}

.noMargin,.checkBoxTable tr {
margin:0;
}

.sortTable caption a:hover,.selectionFilter a:hover {
text-shadow:0 0 5px #ff8f00;
}

.redHighLight:hover,.redHighLight:focus {
background:#ffebeb !important;
}

table.staffTable td.left {
text-align:left;
}

table.staffTable td.right {
text-align:right;
}