ul.menu ul ul {position: absolute;left:93%;top:0px;}
.footer_logo{
 filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='agasti_logo.png');
    float:right;
    background:none;
    width:105px;
    height:60px;
    display: inline-block;
    margin: .25em 20px .25em 0px;
}